body{
	background: lightgreen;

}
.caja{
	align-items: center;
	background: white;
	border: solid;
	display: flex;
	height: 200px;
	justify-content: space-between;
	margin: 0 auto;
	width: 90%;
}
.cajitas1{
	border:solid;
	background: green;
	height: 150px;
	margin: 6em;
	width: 20%;
}
.cajitas2{
	border:solid;
	background: green;
	height: 150px;
	margin: 2em;
	width: 25%;
}
.mitad{
	align-items: center;
	background: white;
	border: solid;
	display: flex;
	height: 350px;
	justify-content: space-around;
	margin: 0 auto;
	width: 90%;
}
.mitad div{
	background: green;
	border:solid;
	height: 250px;
	width: 20%;
}
.pie{
	align-items: center;
	background:white;
	border: solid;
	display: flex;
	height: 300px;
	justify-content:flex-end;
	margin: 0 auto;
	width: 90%;
}
.fin{
	background: green;
	border:solid;
	height: 100px;
	margin: 4em;
	width: 20%;
}